/* .evento-allday {
    background-color: transparent !important;
    border: none !important;
    color: black;        
    
  } */

  /* .fc-timegrid-col-events {
    overflow-x: auto;
  } */
  
  .fc-list-event-dot {
    display: none !important;
  } 

  .fc-list-event-graphic  {
    display: none !important;
  }

  .fc-list-event-title{
    padding: 0 !important;
  }

  .fc-list-event-time{
    padding: 0 !important;
    padding-left: 5px !important;
  }